@inherits LayoutComponentBase
@using System.Reflection

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            Version: @xtermVersion
            <a href="https://github.com/BattlefieldDuck/XtermBlazor" target="_blank" class="ml-md-auto">Github</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
     private string xtermVersion = Assembly.GetAssembly(typeof(Xterm)).GetName().Version.ToString().TrimEnd('0').TrimEnd('.');
}
