name: Dotnet Package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.0.x
            9.0.x
            8.0.x
            7.0.x
            6.0.x

      - name: Display dotnet version
        run: dotnet --version

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Restore .NET dependencies
        run: dotnet restore XtermBlazor

      - name: Build .NET project
        run: dotnet build XtermBlazor --no-restore

    # - name: Test
    #   run: dotnet test XtermBlazor --no-build --verbosity normal
